* {
    margin: 0;
    page: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.banner {
    background-color: #ECEFE6;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "Anton";
    display: flex;
    position: relative;
    font-size: 60px;
    color: #595E51;
    padding-top: 60px;
    padding-left: 50px;
 }

 .banner nav {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 55px;
 }


 .banner nav a{
    font-family: "Anton";
    color: #595E51;
    font-size: 30px;
    text-decoration: underline transparent;
 }

 .banner button {
    border-radius: 55px;
    background-color: #CAD2BD;
    font-family: "Anton";
    width: 137px;
    height: 55px;
    border-style: none;
    font-size: 24px;
    color: #595E51;
    margin-top: 330px;
    margin-left: 40px;
}

#info{
    background-color: #ECEFE6;
    height: 100vh;
    width: 100vw;

}
h2{
    font-family: "Anton";
    display: flex;
    position: relative;
    font-size: 60px;
    color: #595E51;
    padding-top: 60px;
    padding-left: 50px;
}

#info p {
    width: 60%;
    text-align: start;
    font-family: "Anton";
    display: flex;
    position: relative;
    font-size: 40px;
    color: #595E51;
    padding-top: 60px;
    padding-left: 50px;
}

#info img {
    width: 369px;
    height: 495px;
    display: flex;
    margin-left: 70%;
    margin-top: -270px;
}





 





